@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap%27');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
    line-height: 1.5;
}
.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
li{
    list-style: none;
}
/*NAVIGATION*/
.nav--links{
    display: flex;
    justify-content: space-between;
}
.logo--text{
    color: rgb(88, 86, 139);
    transition: all 500ms ease;
    text-decoration: none;
    font-style: bold;
}

.logo{
    padding-right: 550px;
    font-size: 25px;
    font-weight: bold;
}
.logo--img{
    max-width: 40px;
}
.nav--link{
    margin: 0px 1.5rem;
    font-size: 0.875rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 500ms ease;
    font-weight: 700;
    text-decoration-color:  rgba(0, 0, 0, 0);
    
}
.nav--link--login{
    margin-left: 3rem !important;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav--link--main{
    text-decoration: none;
    padding: 10px 40px;
    margin-top: 15px;
    margin-left: 16px;
    color: white;
    background-color: rgb(104, 16, 177);
    border-radius:100px ;
    transition: all 300ms ease;
}
.nav--link:hover{
    color: rgb(78, 4, 175);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color:  rgba(78, 4, 175, 1);
    
    
}

.nav--link--login:hover{
    color: rgb(78, 4, 175);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}
.nav--link--main:hover{
background-color: rgb(83, 21, 255);
}
.logo--text:hover{
color: rgb(118, 0, 214);
}

/* HEADER */
.header--row{
    margin-top: 120px;
    display: flex;
}
.header--container{
    width: 40%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header--container2{
    width: 60%;
    display: flex;
}
.header--description{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 45px;
    color: black;
}
.main--para{
    padding-top: 40px;
    font-size: 18px;
    padding-bottom: 40px;
}
.header--img--wrapper{
   width: 100%;
}
img{
    width: 100%;
    height: 100%;
    max-height: 60vh;
    padding-top: 20px;
}
.purple{
    color: rgb(90, 8, 167);
}
.form--wrapper{
    border: solid rgb(233, 233, 233);
    border-radius: 9999px;
    padding: 0;
    margin: 0;
    width: 100%;
    width: 445px;
    height: 73px;
    transition: all 500ms ease;
}
.form--button{
    margin-top: 10px;
    margin-left: 45px;
    padding: 10px 40px;
    margin-bottom: 15px;
    background-color: rgb(100, 44, 255);
    border: solid  rgb(94, 38, 250);
    color: white;
    border-radius: 99px;
    font-size: 18px;
    font-weight: bold;
    transition: all 500ms ease;
}
.form--email{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    margin-top: 25px;
}
.form--email--description{
    display: flex;
    margin: 0 auto;
    padding-left: 30px;
}
.form--wrapper:hover{
    border: solid rgb(199, 214, 226);
}
.form--button:hover{
    background-color: rgb(65, 65, 236);
    border: solid blue;
}
.header--tc{
    padding-top: 80px;
}
.header--tc--para{
    font-weight: 700;
    color: rgb(190, 205, 252);
    letter-spacing: 0.05em;
    font-size: 13px;
}
.header--tc--img{
    padding-top: 20px;
    opacity: 0.5;
    width: 400px;
}
/*highlights*/
#highlights{

}
.highlight--wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    margin-left: 220px;
    
}
.highlight{
    display: flex;
    width: calc(100%/3);
}
.container{
    padding: 80px 0;
}
.highlight--para{
    display: flex;
    font-display: column;
    line-height: 30px;
    color:rgb(137, 134, 146) ;
    font-size: 15px;
}
.highlight--sub{
    display: flex;
    font-display: column;
    margin-bottom: 20px;
    font-size: 22px;
    color: rgb(65, 65, 129);
}
.highlight--img{
    padding-right: 30px;
    margin-top: 12px;
    color: rgb(91, 4, 161);
}
.header2--title{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: rgb(84, 0, 173);
font-size: 16px;
font-family: 1500;
}
.header1--title{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: rgb(63, 63, 122);
}
.main--para2{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 15px;
max-width: 1000px;
width: 70%;
padding-left: 400px ;
margin-bottom: 80px;
}
.Service--space{
    padding-left: 10px;
}
.highlight--sec{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 190px;
    margin-bottom: 40px;
}